.short-video{
  padding: 20px 0;
  background: #f7f7f7;
}

.short-video-wrapper{
  display: flex;
  align-items: center;
  gap: 60px;
}

.short-video-image{
  flex: 1;
}

.short-video-image img{
  width: 100%;
  border-radius: 16px;
  display: block;
}

.short-video-content{
  flex: 1;
}

.short-video-content h2{
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #111;
}

.short-video-content p{
  font-size: 16px;
  color: #666;
  margin-bottom: 16px;
  line-height: 1.7;
}

.short-demo-btn{
  margin-top: 10px;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(90deg,#8e5cf7,#a05cff);
}

/* RESPONSIVE */

@media (max-width: 900px){

  .short-video-wrapper{
    flex-direction: column;
    text-align: center;
  }

  .short-video-content h2{
    font-size: 28px;
  }

}